.env
.DS_Store
globalConfig.json

node_modules/*
.vscode/settings.json
.clinic/
node_trace.*.log
uploads/*
coverage/*
logs/*
!logs/.gitkeep
assets/maxmind/*
tests/temp/*
!tests/temp/.gitkeep

docker/docker-compose.yml
docker/mongo/volumes/*
!docker/mongo/volumes/.gitkeep
docker/mongo/*.log
docker/postgres/volumes/*
!docker/postgres/volumes/.gitkeep
docker/redis/volumes/*
!docker/redis/volumes/.gitkeep

dist/*